# Google Sheets Configuration
NEXT_PUBLIC_GOOGLE_SHEETS_ID=1xDMdSaO5-frRIAhnC8dZYbHKKrl5KHYo8Fg3mHbeSrY
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Google Drive Configuration (para firmas)
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_ID=1KeYg_Y0vBWuyDA7Q1nrs8lNcMM9pTQVC
GOOGLE_DRIVE_API_KEY=your-google-drive-api-key

# n8n Webhook
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://your-n8n-instance.com/webhook/...

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
